{% extends "base.html" %}
{% load channel_url assets logs_tags %}

{% block head_title %}Logs for {{ channel.name }}{% endblock %}
{% block body_class %}log-view{% endblock %}

{% block content_outer %}
<div class="sidebar">
  <header class="site-header">
  {% block header %}
    <a href="{% if user.is_authenticated %}{% url 'dashboard' %}{% else %}/{% endif %}">
      <img
        src="{{ STATIC_URL }}img/logo.svg"
        alt="The logo for BotBot.me features a friendly robot." />
    </a>

    <nav class="channel-nav" role="navigation">
      <a href="{% url 'dashboard' %}">All Channels</a>
    </nav>

    <aside class="user-box">
      {% if user.is_authenticated %}
          <a href="{% url 'account_manage' %}">My Account</a>
          <a href="{% url 'account_logout' %}">Log Out</a>
      {% else %}
          <a href="{% url 'account_login' %}">Log In</a>
      {% endif %}
    </aside>
  {% endblock header %}
  </header>

  {% include "includes/footer.html" %}
</div>

<main class="main" role="main">
  <header id="Log-Header">
    <div class="log-title">
      <h1>
        <a href="{% channel_url channel 'log_current' %}">{{ channel.name }}</a>
      </h1>

      {% if not channel.is_public %}
        <i class="fa fa-lock" title="This is a private channel"> </i>
      {% endif %}

      <h4 class="date"></h4>
    </div>

    <form id="Search" method="get" action="{% channel_url channel 'log_search' %}">
        {{ search_form.q }}
        {# <a href="#" class="context-help"> <i class="icon-question-sign icon-large"></i></a> #}
    </form>

    <nav class="channel-nav">
      <span class="user-count wicon">
        <i class="icon-group icon-large"></i>
        {{ size }}
      </span>

      <a href="{% channel_url channel 'help_bot' %}" class="wicon" title="A list of commands for BotBot in this channel">
        <i class="icon-book icon-large"></i>
        <span>Channel Docs</span>
      </a>
      <label class="noise-toggler extra" title="Hides parts and joins">
        <input id="filter" value="true" type="checkbox" name="only_chat" />
        <span>Hide joins/parts</span>
      </label>
    </nav>
  </header>

    <div id="Content" class="channel-logs">
      <article id="Log-Container">
          <span id="first"></span>
          <ul id="Log-Prep-Prev" class="log"></ul>
          <ul id="Log-Prep-Next" class="log"></ul>
          <ul id="Log" class="log unstyled" data-source="{{ channel.get_eventsource_url }}" data-next="{{ next_page }}" data-previous="{{ prev_page }}" {% if newest_first %}data-order="reversed"{% endif %} data-current="{{ is_current }}" {% if q %}data-search-term="{{ q }}"{% endif %} data-timezone="{{ request.session.django_timezone }}">
              {% include "logs/log_display.html" %}
          </ul>
          <span id="last"></span>
      </article>
    </div>
</main>

<div class="timeline-nav">
  {% include "logs/timeline.html" %}
</div>

{# not visible to end-user, but used to determine/post timezone #}
<form id="Timezone" method="post" action="{% url '_set_timezone' %}">{% csrf_token %}{{ tz_form.timezone }}</form>
{% endblock content_outer %}

{% block extra_js %}
{{ block.super }}
{% assets filters="yui_js", output="gen/logs.js", "js/app/logs/default.js" %}
    <script src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock extra_js %}

{% block extra_head %}
<style type="text/css">
  .log li[data-nick='{{ user.username }}'] .actor { color: #757500; }
</style>

{% if highlight %}
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@botbotme">
<meta name="twitter:title" content="{{ highlight.nick }} in {{ channel.name }}">
<meta name="twitter:description" content="{{ highlight.text|bbme_urlizetrunc:50 }}">
{% endif %}

<link rel="canonical" href="{{ current_page }}"/>
{% endblock extra_head %}
