{% load channel_url assets logs_tags %}

{% if timeline %}
<nav class="timeline-navigation" id="Log-Nav">
  <ul>
      {% if timeline|length > 3 %}
      <li class="older"><a href="#">Older</a></li>
      {% endif %}
      {% for year, months in timeline.items %}
          <li class="year"><a href="#{{ year }}"><span>{{ year }}</span></a>
            <ul class="month-list">
              {% for first_of_month in months %}
                <li class="month"><a class="jump-date" data-date="{{ first_of_month|date:"Ymd" }}" href="{% channel_url channel 'log_day' year=first_of_month|date:"Y" month=first_of_month|date:"m" day=first_of_month|date:"d" %}"><span>{{ first_of_month|date:"F" }}</span></a></li>
              {% endfor %}
              {# Account for times when the start of the last month is after the week dates below. The ".5" is added to ensure a date never matches it. #}
              {% if forloop.last %}
                <li class="month"><a class="jump-date" data-date="{{ last_month.adjusted|date:"Ymd" }}.5" href="{% channel_url channel 'log_day' year=last_month.real|date:"Y" month=last_month.real|date:"m" day=last_month.real|date:"d" %}"><span>{{ last_month.real|date:"F" }}</span></a></li>
              {% endif %}
            </ul>
          </li>
      {% endfor %}
      <li><a class="jump-date" data-date="{{ last_week|date:"Ymd" }}" href="{% channel_url channel 'log_day' year=last_week|date:"Y" month=last_week|date:"m" day=last_week|date:"d" %}"><span>Last Week</span></a></li>
      <li><a class="jump-date" data-date="{{ this_week|date:"Ymd" }}" href="{% channel_url channel 'log_day' year=this_week|date:"Y" month=this_week|date:"m" day=this_week|date:"d" %}"><span>This Week</span></a></li>
      <li><a class="jump-date current" data-date="99999999" href="{% channel_url channel 'log_current' %}"><span>Current</span></a></li>
  </ul>
</nav>
{% endif %}
