<style type="text/css">
/*
 * Common
 */
.spr-link-4 {
  text-decoration: none;
}

.spr-4 {
  position: absolute;
  display: inline-block;
  margin: -5px 0 0 10px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
  width: 400px;
}

.title-4 {
  margin-left: -40px;
  font-style: italic;
  color: #255571;
  font-weight: bold;
}

.get-4 {
  float: right;
  padding: 4px 8px;
  margin: -15px 0 0 -33px;
  text-transform: uppercase;
  border: 1px solid #0088cc;
  color: #0088cc;
  border-radius: 2px;
}

.tag-4 {
  margin-left: 30px;
  font-size: 13px;
  color: #333333;
}

.spr-4:hover .get-4 {
  background: #2bde73;
  color: white;
  border: 1px solid #2bde73;
}

.spr-link-4:active {
  color: currentColor;
  text-decoration: none;
}

@media (max-width: 1050px) {
  .spr-4 {
    display: none;
  }
}
</style>

<a class="spr-link-4" href="https://www.kickstarter.com/projects/1704706557/high-performance-django">
  <div class="spr-4">
    <span class="title-4">High Performance Django</span><br>
    <span class="tag-4">Build fast, scalable Django sites.</span>
    <span class="get-4">Get ebook</span>
  </div>
</a>
