<style type="text/css">
/*
 * Common
 */
.ad {
  position: absolute;
  display: inline-block;
  top: 4px;
  left: 370px;
  font-size: 16px;
  color: white;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  border: 2px solid white;
  border-radius: 3px;
  background-color: #3cadcf;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/18946/engine-flipped_3.jpg");
  background-size: 50%;
  background-position: 40px -30px;
  background-repeat: no-repeat;
  text-align: center;
  line-height: 24px;
  width: 400px;
  height: 60px;
}

.ad .title {
  display: inline-block;
  padding-top: 6px;
  font-size: 14px;
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
}

.buy {
  float: right;
  padding: 0 35px;
  background: #255571;
  border-radius: 0 3px 3px 0;
  line-height: 60px;
  text-transform: uppercase;
  transition: background 500ms ease;
}

.tag {
  font-size: 14px;
}

.ad:hover .buy {
  background: #2bde73;
}

.ad-link {
  text-decoration: none;
}

@media (max-width: 1100px) {
  .ad-link {
    display: none;
  }
}
</style>

<a class="ad-link" href="https://www.kickstarter.com/projects/1704706557/high-performance-django">
  <div class="ad">
    <span class="title">High Performance Django</span>
    <span class="buy">Buy ebook</span>
    <span class="tag">Build fast, scalable Django sites.</span>
  </div>
<a>
