{% load assets %}<!doctype html>

<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <title>{% block head_title %} | BotBot.me{% endblock %}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="BotBot.me provides beautiful IRC logging">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link href="//www.google-analytics.com" rel="dns-prefetch">
    <link href="//ajax.googleapis.com" rel="dns-prefetch">

    <!-- Supportive Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Roboto:900,400,700,400italic,500,500italic,300,700italic,100&subset=latin,cyrillic-ext,latin-ext,cyrillic,greek-ext,greek,vietnamese" rel="stylesheet" type="text/css">

    {% assets filters="yui_css", output="gen/screen.min.css", "css/screen.min.css" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
    {% endassets %}

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico" />

    {% block extra_head %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">

<div class="container">

<header class="site-header">
{% block header %}
  <a href="{% if user.is_authenticated %}{% url 'dashboard' %}{% else %}/{% endif %}">
    <img
      src="{{ STATIC_URL }}img/logo.svg"
      alt="The logo for BotBot.me features a friendly robot." />
  </a>

              <a href="{% url 'dashboard' %}">All Channels</a></li>
  <nav role="navigation">
   {% if user.is_authenticated %}
        <a href="{% url 'account_manage' %}">My Account</a>
        <a href="{% url 'account_logout' %}">Log Out</a>
    {% else %}
        <a href="{% url 'account_login' %}">Log In</a>
    {% endif %}
  </nav>
{% endblock header %}
</header>

{% if messages %}
<div class="site-alerts">
  <ul class="site-alerts-list">
    {% for message in messages %}
    <li{% if message.tags %} class="site-alert site-alert-{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
</div>
{% endif %}

{% block content_outer %}
<div id="Content" class="container-fluid">
    {% block content %}{% endblock %}
</div>
{% endblock %}

{% include "includes/footer.html" %}

{% assets filters="yui_js", output="gen/vendor.js", "js/vendor/andlog.js", "js/vendor/jquery-1.8.2.js", "js/vendor/bootstrap.js", "js/vendor/moment.js", "js/vendor/detect_timezone.js", "js/vendor/jquery.highlight.js", "js/vendor/waypoints.js", "js/vendor/underscore.js", "js/vendor/backbone.js" %}
    <script src="{{ ASSET_URL }}"></script>
{% endassets %}
{% assets filters="yui_js", output="gen/app.js", "js/app/common.js", "js/app/app.js" %}
    <script src="{{ ASSET_URL }}"></script>
{% endassets %}

{% block extra_js %}{% endblock extra_js %}
</body>
</html>
